.proimg{
    height: 250px;
    width: 100%;

}
.con1{
    border-radius: 8px;
    border-style: groove;
    padding: 2% 0% 2% 0%;
    margin: 2% 0% 2% 0%;
}
.con2{
    border-radius: 8px;
    border-style: groove;
    padding: 2% 0% 2% 0%;
    margin: 2% 0% 2% 0%;
}
.frndimg{
    height: 100px;
    width: 100px;
}
.absimg{
    position: absolute;
    left: 45%;
    top: 150px;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    height: 150px;
    width: 150px;
}